$primary-color: #0b3b60;

.app-home {
  @apply px-10 flex flex-col justify-around h-full;

  .logo-image{
    width: 215px;
    height: 73px;
  }
  .logo-area {
    @apply h-1/6 flex flex-col justify-end;
    img {
      height: 73px;
      display: flex;
    }
  }
  .content-area {
    @apply pt-3 pb-6 flex flex-col h-5/6;
    h2 {
      @apply text-base;
    }
    h3 {
      color: $primary-color;
      @apply text-base font-extrabold;
    }
    .options {
      @apply grid gap-2 grid-cols-1 grid-rows-3 md:mx-auto md:w-3/5 h-5/6;
      .option {
        background-color: $primary-color;
        @apply rounded-xl p-4 flex items-center justify-center flex-col hover:opacity-80;

        fa-icon {
          @apply my-2;
        }

        p {
          @apply text-white font-semibold text-lg tracking-wider my-2;
        }
      }
    }
  }
}
